* {
    box-sizing: border-box;
}
body {
    background-color: #333;
    margin: 0;
    color: #fff;
}

img {
    width: 100%;
    display: block;
}

.header {
    text-align: center;
    background-color: lightblue;
    color: orangered;
    /* position: sticky; */
}

/* .menu {
    position: sticky;
    top: 0;
    /* height: ; }*/

    .article-title {
        position: sticky;
        top: 0px;
        background-color: #333; 
    }

    

